html {
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Quicksand;
}

.container-fluid {
    text-align: center;
}

.brand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px;
}

.weatherdiv {
    background: rgba(0,0,0,0.3);
    margin: auto;
    width: 100%;
    height: 200px;
    padding: 20px 0px;
    position: absolute;
}

.weatherdiv .weathericon {
    display: inline-block;
    margin-top: 90px;
    height: 220px;
    width: 220px;
    opacity: 1;
}

.temp {
    padding: 150px 0px;
    color: white;
}

.metricbutton {
    height: 50px;
    width: 50x;
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { color: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }